<!--<div >-->
<!--  <ul *ngFor="let item of rowsFromServer">-->
<!--    <li>{{item.Country}}</li>-->
<!--  </ul>-->
<!--</div>-->

<form class="info-form" #infoForm="ngForm">
  <div class="form-group version_country">
    <mat-form-field class="example-full-width">
      <mat-label>Version</mat-label>
      <input matInput  name="Version">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Country</mat-label>
      <input matInput value="Colombia">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>SubmittedBy</mat-label>
      <input matInput value="Sandra Calderon">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Version</mat-label>
      <input matInput value="30.10.2020">
    </mat-form-field>
  </div>


  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Versus status</mat-label>
      <input matInput >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </div>
</form>


<!--===========================================FORM======================================================-->



<form #tableForm="ngForm" (ngSubmit)="onSubmitTemplateBased(tableForm)" *ngIf="rowsFromServer.length > 0;else showSpinner">
  <table class="table" >
    <thead>
    <tr>
      <th>
        <input type="checkbox" >
      </th>
      <th *ngFor="let column of displayedColumns">{{column}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rowsFromServer;let i=index"
        [ngClass]="{'selected': selectedRowIndex === i &&  rowChecked === true }">
      <td>
        <input type="checkbox" (change)="onCheck(row,$event,i)">
      </td>

      <td>
        <input type="text" [value]="row.Title" disabled></td>
      <td>
        <input type="text" [value]="row.Country" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Item_x0020_Code_x0020_SAP" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Item_x0020_Name" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Sales_x005c_FOC" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Sales_x0020_Type" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Business_x0020_Segment" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Customer_x0020_Code_x0020_SAP" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Customer_x0020_Name" disabled>
      </td>
      <td>
        <input type="text" [value]="row.EC_x0020_Sales_x0020_Price" disabled>
      </td>
      <td>
        <input type="text" [value]="row.HQ_x0020_STD_x0020_Cost" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Transfer_x0020_Price" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Localization_x0020_Cost" disabled>
      </td>
      <td>
        <input type="text" [value]="row.Local_x0020_Cost" disabled>
      </td>
      <td>
        <input type="text" [value]="row.GM_x0020__x0025_" disabled>
      </td>
      <td>
        <input type="text" [value]="row.SharePoint" disabled>
      </td>
      <td>
        <input type="number" [value]="row.Jan_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Jan_x002d_20_x0020_USD" name="Jan-20 USD" class="input__write">
      </td>
      <td>
        <input type="number" [value]="row.Feb_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Feb_x002d_20_x0020_USD" name="Fab-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [value]="row.Mar_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Mar_x002d_20_x0020_USD" name="Mar-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [value]="row.Apr_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Apr_x002d_20_x0020_USD" name="Apr-20 USD" class="input__write">
      </td>
      <td>
        <input type="number" [value]="row.May_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.May_x002d_20_x0020_USD" name="May-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [value]="row.Jun_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Jun_x002d_20_x0020_USD" name="Jun-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [value]="row.Jul_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Jul_x002d_20_x0020_USD" name="Jul-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [value]="row.Aug_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Aug_x002d_20_x0020_USD" name="Aug-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [value]="row.Sep_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Sep_x002d_20_x0020_USD" name="Sep-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [value]="row.Oct_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Oct_x002d_20_x0020_USD" name="Oct-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [value]="row.Nov_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Nov_x002d_20_x0020_USD" name="Nov-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [value]="row.Dec_x002d_20_x0020_Qty" class="input__write">
      </td>
      <td>
        <input type="number" [(ngModel)]="row.Dec_x002d_20_x0020_USD" name="Dec-20 USD" class="input__write">
      </td>

      <td>
        <input type="number" [(ngModel)]="row.Submitted_x0020_by" class="input__write" name="Submitted by">
      </td>

      <td>
        <input type="number" [(ngModel)]="row.Update_x0020_date" class="input__write" name="Update Date">
      </td>
    </tr>

    </tbody>
  </table>


  <div class="actions" >
    <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" type="submit">Save</button>
    <button mat-raised-button (click)="openYesNoDialog()">Cancel</button>
  </div>

</form>

<ng-template #showSpinner>
  <div class="spinner">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
</ng-template>




